.order{
    color:blueviolet
}
.order_option{
    color: rgb(221, 55, 199);
    background: black;
    font-family:  'Poppins', sans-serif;
    border-style: none;
    transition: 0.2s;
    overflow: hidden;
   
}

.order_option:hover{
    background: rgb(181, 28, 252);
    box-shadow: 0 0 10px rgb(82, 21, 117),0 0 40px rgb(112, 13, 112), 0 0 80px rgb(129, 30, 196);
    transition-delay: 1s;
    background-color: blanchedalmond;

 }


.order_select{
    background: linear-gradient(to bottom, rgb(221, 205, 224),transparent);
    width:15px;
    border-radius: 6px;
    padding: 2px 9px;
    border-style: none;
    transition: 0.5s;
    overflow: hidden;
    background-color:transparent;
    
}
.order_select:hover{
    background: rgb(181, 28, 252);
    box-shadow: 0 0 10px rgb(82, 21, 117),0 0 40px rgb(112, 13, 112), 0 0 80px rgb(129, 30, 196);
    transition-delay: 1s;
 }
