.contSearch{
   position: absolute;
   z-index: 200;
   border-radius: 7px;
   background:linear-gradient(to right, rgb(133, 73, 194),rgb(36, 3, 68));
   margin-left: 930px;

}
.submit{
   color:rgb(182, 129, 212);
   font-size: 12px;
   font-family: fantasy;
   text-decoration: none;
   padding: 10px 15px;
   letter-spacing: 4px;
   transition: 0.4s;
   overflow: hidden;
   background:linear-gradient(to right, rgb(133, 73, 194),rgb(36, 3, 68));
   border-radius: 7px;
  width: 110px;
}


.submit:hover{
   background: rgb(181, 28, 252);
   box-shadow: 0 0 10px rgb(82, 21, 117),0 0 40px rgb(112, 13, 112), 0 0 80px rgb(129, 30, 196);
   transition-delay: 0.2s;
}

.search{
   border-radius: 3px;
   background:linear-gradient(to right, rgb(15, 2, 29),rgb(36, 3, 68));
   width: 0px;
   height: 36px;
   border-color: black;
   transition: 1s;
   
}
.search:hover{
   background: rgb(181, 28, 252);
   box-shadow: 0 0 10px rgb(82, 21, 117),0 0 40px rgb(112, 13, 112), 0 0 80px rgb(129, 30, 196);
   transition-delay: 0.2s;
   
}

.contSearch:hover > .search{
   width: 200px;
   
}